<!-- <h1> profiledetail.handlebars renders </h1>
<p> Selected Id is: {{selectedId}} </p> -->

<!-- <html>
<p> Profile for profile id: {{profile.profile_id}} </p>
<p> Profile for profile id: {{context.profile.profile_id}} </p>
<p> Profile for name: {{profile.name}} </p>
<p> Skills: {{profile.skills}} </p>
<p> Courses: {{profile.courses}} </p>
<p> Industry: {{profile.industry}} </p>
<p> GitHub Link: {{profile.github_link}} </p>
<p> LinkedIn Link: {{profile.linkedin_link}} </p>
<p> Twitter Link: {{profile.twitter_link}} </p>
</html> -->


<h1> View Profile: </h1>
  <table id="table">
    <tbody>
      <tr>
        <th>Profile ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Industry</th>
        <th>Github Link</th>
        <th>Linkedin Link</th>
        <th>Twitter Link</th>
      </tr>
      {{#each profile}}
        <tr>
          <td>{{profile_id}}</td>
          <td>{{first_name}}</td>
          <td>{{last_name}}</td>
          <td>{{email}}</td>
          <td>{{industry}}</td>
          <td>{{github_link}}</td>
          <td>{{linkedin_link}}</td>
          <td>{{twitter_link}}</td>
          <td>{{course_name}}</td>
          <td>{{skill_name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- <h2> List of courses: </h2>
  {{#each courses}}
    <ul>
      <li>{{course_name}}</li>
    </ul>
  {{/each}}
  <h2> List of skills </h2>
  {{#each skills}}
    <ul>
      <li>{{skill_name}}</li>
    </ul>
  {{/each}} -->
