<html>
<h1>profile.handlebars renders</h1>
<br>
<p> Profile for profile id: {{profile.profile_id}} <p>
<p> Profile for name: {{profile.name}} <p>
<p> Skills: {{profile.skills}} <p>
<p> Courses: {{profile.courses}} <p>
<p> Industry: {{profile.industry}} <p>
<p> GitHub Link: {{profile.github_link}} <p>
<p> LinkedIn Link: {{profile.linkedin_link}} <p>
<p> Twitter Link: {{profile.twitter_link}} <p>
</html>
