<h1> Enter signup details</h1>
<form action="/signup" method="POST">
  <div>
    <label for="firstname">Enter your first name: </label>
    <input type="text" name="firstname" id="firstname" required>
  </div>
  <div>
    <label for="lastname">Enter your last name: </label>
    <input type="text" name="lastname" id="lastname" required>
  </div>
  <div>
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <label for="industry">Enter your industry: </label>
    <input type="text" name="industry" id="industry" required>
  </div>
  <div>
    <label for="github">Enter your GitHub link: </label>
    <input type="text" name="github" id="github">
  </div>
  <div>
    <label for="linkedin">Enter your LinkedIn link: </label>
    <input type="text" name="linkedin" id="linkedin">
  </div>
  <div>
    <label for="twitter">Enter your Twitter link: </label>
    <input type="text" name="twitter" id="twitter">
  </div>
  <h2> Select your skills:</h2>
  {{#each allskills}}
    <input type="checkbox" id="skill" name=skill value={{skill_id}}>
    <label for="skillname">{{skill_name}}</label><br><br>
  {{/each}}
  <!-- <div>
    <p>Select your skills:</p>
    <input type="checkbox" id="Python" name="Python" value="Python">
    <label for="Python"> Python</label><br>
    <input type="checkbox" id="C++" name="C++" value="C++">
    <label for="C++"> C++</label><br>
    <input type="checkbox" id="Javascript" name="Javascript" value="Javascript">
    <label for="Javascript"> Javascript</label><br>
    <input type="checkbox" id="Node.js" name="Node.js" value="Node.js">
    <label for="Node.js"> Node.js</label><br>
    <input type="checkbox" id="C" name="C" value="C">
    <label for="C"> C</label><br>
    <input type="checkbox" id="HTML" name="HTML" value="HTML">
    <label for="HTML"> HTML</label><br>
    <input type="checkbox" id="CSS" name="CSS" value="CSS">
    <label for="CSS"> CSS</label><br>
    <input type="checkbox" id="React" name="React" value="React">
    <label for="React"> React</label><br><br>
  </div> -->
  <h2> Select your courses:</h2>
  {{#each allcourses}}
    <!-- <ul>
      <li>{{course_name}}</li>
    </ul> -->
    <input type="checkbox" id="course" name="course" value={{course_id}}>
    <label for="coursename">{{course_name}}</label><br><br>
  {{/each}}
  <!-- <div>
    <p>Select your courses:</p>
    <input type="checkbox" id="CS161" name="CS161" value="CS161">
    <label for="CS161"> CS161</label><br>
    <input type="checkbox" id="CS162" name="CS162" value="CS162">
    <label for="CS162"> CS162</label><br>
    <input type="checkbox" id="CS225" name="CS225" value="CS225">
    <label for="CS225"> CS225</label><br>
    <input type="checkbox" id="CS261" name="CS261" value="CS261">
    <label for="CS261"> CS261</label><br>
    <input type="checkbox" id="CS271" name="CS271" value="CS271">
    <label for="CS271"> CS271</label><br>
    <input type="checkbox" id="CS290" name="CS290" value="CS290">
    <label for="CS290"> CS290</label><br>
    <input type="checkbox" id="CS325" name="CS325" value="CS325">
    <label for="CS325"> CS325</label><br>
    <input type="checkbox" id="CS340" name="CS340" value="CS340">
    <label for="CS340"> CS340</label><br>
    <input type="checkbox" id="CS344" name="CS344" value="CS344">
    <label for="CS344"> CS344</label><br>
    <input type="checkbox" id="CS361" name="CS361" value="CS361">
    <label for="CS361"> CS361</label><br>
    <input type="checkbox" id="CS362" name="CS362" value="CS362">
    <label for="CS362"> CS362</label><br>
    <input type="checkbox" id="CS467" name="CS467" value="CS467">
    <label for="CS467"> CS467</label><br><br> -->
    <p> Upload a photo </p>
    <input type="file" id="profilepic" name="profilepic">
  <div class="signup-form">
    <input type="submit" value="Sign Up">
  </div>
</form>
